/*Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.
Gradient v pozadí jde z fialové #615dad do růžové #ffc8da.
Nadpis Piškvorky je fontem Lobster*/

html {
    box-sizing: border-box;
}
body {
    background: linear-gradient(180deg, rgba(97,93,173,1) 0%, rgba(255,200,218,1) 100%);
	display: flex;
	justify-content: center;
	margin-bottom: 100px;
}

.profil {
    width: 350px;
    border-radius: 8px;
	font-family: 'Open sans', sans-serif;
	font-size: 16px;
	background-color: #283e50;
	color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
    text-align: center;
    line-height: 1.6;
}

.foto {
	display: block;
    width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}
.obsah {
	padding: 15px 15px 15px 15px;
}

.nadpis {
	margin: 0 0 20px 0;
	font-family: 'Lobster', sans-serif, cursive;
	font-size: 44px;
	font-weight: normal;
    color: #fff;
    text-align: center;
}

.odkazy {
	margin: 0;
	padding: 0;
	list-style: none;
}

.pravidla {
    background-color: #1fcca4;
    width: 100%;
}
.hrat {
    background-color: #0197f6;
    width: 100%;
	border-top: 1px solid #283e50;
}

.odkazy a {
	display: block;
	padding: 15px;
	font-family: 'Open sans', sans-serif;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}

.pravidla a:hover {
	background-color: #1cbb96;
}
.hrat a:hover {
	background-color: #0090e9;
}

/*.............pravidla............*/
.kontejner {
	border-radius: 8px;
	font-family: 'Open sans', sans-serif;
	background-color: #283e50;
	color: #ffffff;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.5);
	line-height: 1.6;
	padding-top: 20px;
}
ol {
	margin: 25px;
}
ol li {
	padding: 10px 14px;
}
.ikonka {
	width: 1em; height: 1em;
	filter: invert(100%);

}
figure {
	font-style: italic;
	text-align: center;
	font-size: 12px;
}
.ukazky {
	display: flex;
	flex-wrap: wrap;
}	

@media (max-width: 540px) {
	.kontejner {
		width: 340px;
		font-size: 14px;
	}
	.ukazka {
		width: 100%;
	}
}
@media (min-width: 540px) and (max-width: 960px) {
	.kontejner {
		width: 540px;
	}
	.ukazka {
		width: 100%;
	}
	figure {
		flex-basis: 45%;
		margin: 12.5px;
		font-size: 14px;
	}
	.ukazky {
		margin: 12.5px;
	}
}
@media (min-width: 960px) {
	.kontejner {
		width: 650px;
		font-size: 16px;

	}
	.ukazka {
		width: 100%;
	}
	figure {
		flex-basis: 46%;
		margin: 12.5px;
		font-size: 14px;
	}
	.ukazky {
		margin: 12.5px;
	}
}
/*................hra...................*/

.hra {
	display: flex;
	flex-direction: column;
}
.pole {
	display: flex;
	flex-wrap: wrap;
	max-width: 80vmin;
	background: linear-gradient(0deg, rgba(250,170,205,1) 0%, rgba(133,120,161,1) 100%);
}
.button {
	width: 8vmin;
	height: 8vmin;
	opacity: 0.4;
	border: black 1px solid;
}
.button:hover {
	opacity: 0.6;	
}
.horni {
	display: flex;
	justify-content: space-between;
}
.hraje {
	color: white;
	font-size: 25px;
	font-family: sans-serif;
	font-weight: bold;
}
.tlacitka {
	display: flex;
	align-items: center;
}
.domu,
.znovu {
	display: flex;
	justify-content: center;
	width: 45px;
	height: 45px;
	margin: 3px;
	border-radius: 5px;
}
.znovu {
	background-color: #1fcca4;
}
.znovu:hover {
	background-color: #1cbb96;
}
.domu {
	background-color: #0197f6;
}
.domu:hover {
	background-color: #0090e9;
}
.domecek,
.restart {
	align-items: center;
}