/*Barva textu #ffffff.
Podkladová tmavě modrá #283e50.
Tlačítko Pravidla #1fcca4. A po najetí myši #1cbb96.
Tlačítko Začít hrát #0197f6. Po najetí #0090e9.
Gradient v pozadí jde z fialové #615dad do růžové #ffc8da.
Nadpis Piškvorky je fontem Lobster*/

